.storeContainer {
  background-color: rgba(39, 39, 39, 0.705);
  height: 15vh;
  width: 25vw;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.342);
}

.storeTitle {
  color: rgb(243, 243, 243);
  margin: 0;
}
